.MMM-Canteen .title {
  margin-bottom: 4px;
}

.MMM-Canteen table {
  width: 330px;
}

.MMM-Canteen table .title {
  padding-bottom: 5px;
text-align: left;
  #white-space: pre;
  width: 255px;
}

.MMM-Canteen .price {
  text-align: right;
  vertical-align: top;
}
