.MMM-Canteen .title {
  margin-bottom: 4px;
}

.MMM-Canteen table {
  max-width: 35vw;
}

.MMM-Canteen table .title {
  text-align: left;
}

.MMM-Canteen .price {
  text-align: center;
  vertical-align: top;
}

.MMM-Canteen tbody td {
  padding: 5px;
}

.MMM-Canteen tbody tr:nth-of-type(odd) td {
  background-color: #ffffff10;
}
