<header>{{ config.canteenName }}, {{ today }} </header>
{% if loading %}
  <div class="small dimmed light">
    {{ "LOADING" | safe }}
  </div>
{% elif closed %}
<div class="small">
{{ config.canteenName }} {{" hat am "}}  <br /> {{  today }} {{" geschlossen!" }}
</div>
{% else %}
  <div class="wrapper">
    <table>
      <thead>
        <tr class="bold">
          <td class="title">Gericht</td>
          <td class="price">Preis</td>
        </tr>
      </thead>
      <tbody>
        {% for meal in meals %}
          <tr class="light bright">
		{% if (meal.prices[config.status] > 0)  %}
                  <td class="title">{{ meal.name | truncate(config.truncate, true) }}</td>
                  <td class="price">{{ meal.prices[config.status].toLocaleString("de-DE", {style: "currency", currency: "EUR"}) }}</td>
		{% else %}
                  <td class="title">{{ meal.name | truncate(config.truncate, true) }}</td>
                  <td class="price"></td>
		{% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}
